<section class="education section" id="education">

    <div class="section-title" data-aos="fade-up">

        <span>EDUCATION</span>

        <h2>My Educational Journey</h2>

        <p>
            My academic background that helped me build a strong foundation in technology.
        </p>

    </div>

    <div class="timeline">

        <!-- Diploma -->

        <div class="timeline-item" data-aos="fade-right">

            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <span class="year">Diploma</span>

                <h3><b>Diploma in Electronics & Communication Engineering</b></h3>

                <p>
                    Completed Diploma in Electronics and Communication Engineering In <b><i>Jyothishmathi Institute of technology and Science</b></i>
                    gaining knowledge in electronics, communication systems and
                    technical problem solving.
                </p>

            </div>

        </div>

        <!-- B.Tech -->

        <div class="timeline-item" data-aos="fade-left">

            <div class="timeline-icon">
                <i class="fas fa-university"></i>
            </div>

            <div class="timeline-content">

               <h2> <span class="year">Currently Pursuing</span></h2>

                <h3><b>B.Tech – Computer Science Engineering (AI & ML)</b></h3>

                <p>
                    Currently pursuing B.Tech in <b><i>Vaageswari Engineering College</i> </b>Computer Science Engineering with
                    specialization in Artificial Intelligence and Machine Learning,
                    focusing on Python, Django, Web Development and AI technologies.
                </p>

            </div>

        </div>

    </div>

</section>