<footer>

    <div class="footer-container">

        <h2>Nagunuri Sai</h2>

        <p>
            Python Developer | Django Developer | AI & ML Enthusiast
        </p>

        <div class="footer-social">

            <a href="#"><i class="fab fa-github"></i></a>

            <a href="#"><i class="fab fa-linkedin"></i></a>

            <a href="#"><i class="fab fa-instagram"></i></a>

            <a href="#"><i class="fas fa-envelope"></i></a>

        </div>

        <p class="copyright">
            © 2026 Nagunuri Sai. All Rights Reserved.
        </p>

    </div>

</footer>