<footer>

    <div class="footer-container">

        <h2>Nagunuri Sai</h2>

        <p>
            Python Developer | Django Developer | AI & ML Enthusiast
        </p>

        <div class="footer-social">

            <a href="https://github.com/nagunurisain-svg"><i class="fab fa-github"></i></a>

            <a href="https://www.linkedin.com/in/arun-sai-6842873a7?utm_source=share_via&utm_content=profile&utm_medium=member_android"><i class="fab fa-linkedin"></i></a>

            <a href="https://www.instagram.com/nagunuri_28?igsi=MTF3emo0OW1vYjMzbg=="><i class="fab fa-instagram"></i></a>

            <a href="mailto:nagunurisain@gmail.com"><i class="fas fa-envelope"></i></a>

        </div>

        <p class="copyright">
            © 2026 Nagunuri Sai. All Rights Reserved.
        </p>

    </div>
    

</footer>