{% load static %}

<section class="hero" id="home">

    <div class="hero-content" data-aos="fade-right">

        <span class="hero-tag">
            👋 Welcome to My Portfolio
        </span>

        <h3>Hello, I'm</h3>

        <h1>Nagunuri Sai</h1>

        <h2>
            Python Developer <span>|</span>
            Django Developer <span>|</span>
            AI & ML Enthusiast
        </h2>

        <p>
            I am a passionate Python and Django Developer who enjoys
            building modern, responsive and scalable web applications.
            I have a strong interest in Artificial Intelligence,
            Machine Learning and Full Stack Development.
        </p>

        <div class="hero-buttons">

            <a href="#projects" class="btn">
                <i class="fas fa-code"></i>
                View Projects
            </a>

            <a href="#contact" class="btn-outline">
                <i class="fas fa-paper-plane"></i>
                Contact Me
            </a>

        </div>

        <div class="hero-info">

            <div class="info-box">
                <h3>10+</h3>
                <p>Projects</p>
            </div>

            <div class="info-box">
                <h3>6+</h3>
                <p>Technologies</p>
            </div>

            <div class="info-box">
                <h3>100%</h3>
                <p>Learning</p>
            </div>

        </div>

        <div class="social-links">

            <a href="https://github.com/nagunurisain-svg" title="GitHub">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/arun-sai-6842873a7?utm_source=share_via&utm_content=profile&utm_medium=member_android" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>

            <a href="https://www.instagram.com/nagunuri_28?igsi=MTF3emo0OW1vYjMzbg==" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="mailto:nagunurisain@gmail.com" title="Email">
                <i class="fas fa-envelope"></i>
            </a>

        </div>

    </div>

    <div class="hero-image" data-aos="fade-left">

        <div class="image-box">

            <img src="{% static 'student/images/profile.png' %}"
                 alt="Nagunuri Sai">

        </div>

    </div>

</section>