<nav class="navbar">

    <div class="logo">
        <a href="#home">Nagunuri Sai</a>
    </div>

    <ul class="nav-links">

        <li><a href="#home" class="active">Home</a></li>

        <li><a href="#about">About</a></li>

        <li><a href="#skills">Skills</a></li>

        <li><a href="#services">Services</a></li>

        <li><a href="#education">Education</a></li>

        <li><a href="#projects">Projects</a></li>

        <li><a href="#contact">Contact</a></li>

    </ul>

    <!-- Mobile Menu Button -->
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>

</nav>