{% extends 'student/base.html' %}

{% block title %}
Nagunuri Sai | Portfolio
{% endblock %}

{% block content %}

{% include 'student/includes/hero.html' %}
{% include 'student/includes/about.html' %}
{% include 'student/includes/skills.html' %}
{% include 'student/includes/services.html' %}
{% include 'student/includes/education.html' %}
{% include 'student/includes/projects.html' %}
{% include 'student/includes/certificates.html' %}
{% include 'student/includes/achievements.html' %}
{% include 'student/includes/contact.html' %}

{% endblock %}